  
  <div class="div-my-default">
    <p class="text-sm-justify text-my-content">
      <b> Work experience: </b>
    </p>
      <ul class="text-sm-justify text-my-content">
        <li><b>September 2020 - present: </b>Java developer at Generix Group Romania</li>
        <li><b>July-September 2019: </b>Java Development Intern at IQuest Group</li>
        <li><b>July-August 2018: </b>.NET Intern at Yardi Systems</li>
      </ul>

    <p class="text-sm-justify text-my-content">
      <b> Education: </b>
    </p>
      <ul class="text-sm-justify text-my-content">
        <li><b>2012-2016: </b>High School at “Dr. Ioan Meșotă” National College, Brașov</li>
        <li><b>2016-2020: </b>Bachelor of Engineering from Technical University of Cluj-Napoca 
        (studied subjects like Computer Networks, Web Applications Development, Software System Development Lifecycles, Computer Programming (C), Java Programming, Logic Design and Computer Architecture, Introduction to Machine Learning, 
        Introduction to Artificial Intelligence, Software Design, Image Processing, Programming Techniques)</li>
      </ul>

      <p class="text-sm-justify text-my-content">
        <b> Skills: </b>
        <br>
        C, C#, Java programming, Git, SQL, Hibernate, JPA, ReactJs, Javascript, HTML, CSS, Python, Tensorflow,  Django, Xilinx 
        FPGA programming with VHDL, assembly language programming (x86), RESTful application building using Spring Framework, Agile SCRUM web development, Machine Learning, Data Structures and Algorithms
      </p>
     
     <p class="text-sm-justify text-my-content">
      <b> Certifications: </b>
     </p>
     <ul class="text-sm-justify text-my-content">
      <li>Cambridge English CPE</li>
      <li>DELF B2</li>
    </ul>

    <p class="text-sm-justify text-my-content" style="text-emphasis: bold">
     <b> Projects I've worked on so far: </b>
    </p>
        <ul class="text-sm-justify text-my-content">
          <li> Speaker Recognition with Python and Tensorflow (bachelor’s degree project) </li>
          <li>
            Pharmacy management web app, front-end in React, back-end in Django, MySql database
          </li>
          <li>Pharmacy management web app with Spring Framework, Thymeleaf, RabbitMq, deployed on Docker</li>
          <li>Educational forum web app with Spring, Tomcat, MySql and Elasticsearch, I worked on the back-end</li>
          <li>Web application with drop down menus, maps, tables, login, profile page and statistics with PHP, Laravel and React.js (the application describes my bachelor’s degree project)</li>
          <li>Expert System that determines the maximum legally allowed speed by location</li>
          <li>Database for beauty salon management (MSSQL)</li>
          <li>Obstacle avoiding robot with Arduino</li>
          <li>3D room interior in OpenGL</li>
          <li>Bayes net that evaluates the chances of someone developing schizophrenia given certain factors, with Pomegranate</li>
          <li>Application for the employees and customers of a bank (desktop) in Java + SQLite</li>
          <li>Airport management app (desktop) with Java and SQLite</li>
          <li>The average of five pseudo-random generated numbers, project written in VHDL and implemented on a Xilinx FPGA</li>
          <li>Polynomial processing system, in Java</li>
          <li>Simulation of a customer queue in Java</li>
          <li>Tic-tac-toe game in assembly</li>
          <li>Airport management database project, with PHP and MSSQL</li>
        </ul>  
   <p class="text-sm-justify text-my-content" style="text-emphasis: bold">
       <b> Prizes I've won in contests: </b>
   </p>   
   <ul class="text-sm-justify text-my-content">
     <li>2nd prize at the “Adolf Haimovici” national Applied Mathematics Contest, national stage (2016)</li>
     <li>1st prize at the  “Adolf Haimovici” national Applied Mathematics Contest, county stage (2013, 2014, 2015, 2016)</li>
     <li>Mention at the national stage of the same contest (2013, 2015), participation in 2014</li>
     <li>1st prize at the County Stage of the French Language Olympiad 2011, 2012, 2016</li>
     <li>2nd prize at the National Science Olympiad 2013 (county stage), participation in the national stage</li>
     <li>Mention at the Chemistry Olympiad, county stage, 2013, 2014, 2015</li>
     <li>Mention at the Physics Olympiad, county stage, 2012, 2014</li>
     <li>2nd prize at the French Kangaroo Contest, 2013</li>
     <li>Mention at the Romanian Literature Olympiad, county stage 2011</li>
     <li>Honourable Mention at the Gheorghe Lazar Mathematics Contest, 2012</li>
   </ul>
  </div>

