<div class="div-my-default">
    <p class="text-justify text-my-content">
      Hi! I'm Maria, and I'm passionate about web development. I like learning new things and building websites
      for people. I currently live in Cluj-Napoca, Romania, and in my free time I like to read personal development 
      books, listen to podcasts, and write and play music for my YouTube channel.  
    </p>
    <div class="div-my-image">
     <p class="text-center">
      <img src="/assets/images/me3.jpg" style="width:269px;height:359px;" align="center">
      <img src="/assets/images/thisisme.png" style="width:150px;height:150px;" align="center">
     </p> 
    </div>
    <p class="text-justify text-my-content">
      I have been a developer for 5 years. Java, Spring Boot, Angular, HTML and CSS are my main skills, even though I am familiar with many other technologies. 
    </p>
    <p class="text-justify text-my-content">
      Apart from technical knowledge, the experience I gained in college, as well as in my internships and job has helped me form some other skills that I believe are equally as important. While working on team projects I became an effective communicator and I learned the importance of stating your needs, questions and problems clearly for everyone to understand. 
    </p>
    <p class="text-justify text-my-content">
      Furthermore, having multiple strict deadlines in college has helped me develop the ability to prioritize work and to be productive in order to deliver quality work fast. Also, I consider the fact that I don't have many years of work experience in a company as an advantage. Not having worked on the same project in the same environment for years has helped me keep my energy, drive and creativity fresh.
    </p>
    <p class="text-justify text-my-content">
      I specialize in building personal or business websites that help independent professionals or businesses attract clients and get in touch easily. 
      I do everything from server-side functionality to the design clients will get to see on the page.
    </p>
    <p class="text-justify text-my-content">
      The reasons why I chose to start making websites for independent professionals or businesses are that I can relate to this kind of clients more easily (as I myself am in the process
      of creating a brand), and that everything is new and straightforward. Making big decisions, trying new and 
      interesting things on a smaller project and building great things from scratch are what I would like to do. 
    </p>
    <p class="text-justify text-my-content">
      So far, I have worked on some sample projects, including my own personal website, a website for a hair salon, a blog website for a psychotherapist and an online shopping site for a handmade jewelry store. On these sites people can do things such as making appointments (in the case of the hair salon app, you can make an appointment with the stylist of your choice), contacting the business or professional through a form, commenting on blog posts (anonymously or not), or logging in and placing orders with both cash on delivery or online payment (using PayPal). I have also included Google maps on some of the contact pages, so that potential customers can locate the business much easier.     
    </p>
    <p class="text-justify text-my-content">
      This being said, check out my work in the portfolio section, and contact me so that we can find a solution for your brand, together.
    </p>
    <p class="text-justify text-my-content">
      I can't wait to start working with you! :)
    </p>
    <p class="text-my-content"><a href="#">Go to top</a></p>
    </div>
    