<div class="div-my-default">
  <p class="text-sm-justify text-my-content">
    When I get a new project to work on, I usually follow a well-established process that allows me to 
    understand exactly what the client needs and what concrete steps I should take in order to deliver the application
    on time.
  </p>
  <p class="text-sm-justify text-my-content">
    <b> Collecting requirements and agreeing on technologies and delivery</b>
    <br>
    This is when we discuss your project idea and figure out exactly what you need to get done. I will ask you about 
    the types of users the application will have and what it should do, how it should behave. At first I need to have a 
    general view of it, but after that I will ask about specific details. We will also talk about which technologies 
    you prefer and whether you would like me to: 
  </p>
  <ul class="text-sm-justify text-my-content">
    <li>
      Deliver the application in increments (some functionality is done 
      first, I show it to you, I get your feedback then I continue to build upon this skeleton), OR:
    </li>
    
    <li>
      Deliver the application all at once, and I only get your feedback in the end, so I won't bother you much during
      the process, but amendments will be harder to make in the end
    </li>
  </ul>
  <p class="text-sm-justify text-my-content">I personally prefer the first way to do it, as I like to interact 
    with the client during the development process.
  </p>
 
  <p class="text-sm-justify text-my-content">
    <b> Extracting user stories </b>
    <br>
    After our discussion, I extract use-cases, or user stories for the application, from what you told me. These
    user stories are in the form of "As a [user type] I want to be able to [do something in the application] 
    in order to [accomplish something]".
  </p>
  <p class="text-sm-justify text-my-content">
    <b> Splitting stories into tasks </b>
    <br>
    Next, I break down these large use-cases into smaller parts according to technical criteria (for example, 
    building the functionality on the back-end, connecting it to the front-end, making it look pretty and user-friendly,
    making unit and integration tests etc). If one of these tasks is too big I might need to split it into subtasks, 
    but that is not always the case.
  </p>
  <p class="text-sm-justify text-my-content">
    <b> Task prioritizing and actual development </b>
    <br>
    The last step before beginning to develop your application is prioritizing the tasks, so that I do the most
    important features first. After that, I begin to actually do the tasks.
  </p>

</div>
