<p class="text-justify text-my-content">
  Contact me if you are interested in working with me, or if you have any questions:
</p>
<div class="container" style="padding-left:250px;padding-right:200px">
  <div [ngSwitch]="emailSuccessfullySent" >
    <!-- the same view can be shown in more than one case -->
    <ngb-alert type="success" (closed)="closeAlert()" *ngSwitchCase="true" role="alert">Message sent successfully!</ngb-alert>
    <ngb-alert type="danger" (closed)="closeAlert()" *ngSwitchCase="false" role="alert">There was an error sending your message.</ngb-alert>
    <!--default case when there are no matches -->
    <div *ngSwitchDefault></div>
  </div>
  <form #sendmail = "ngForm" (ngSubmit) = "sendButtonClicked(sendmail.value);sendmail.reset();">
      <input type="text" class="form-control" style="width:600px;font-family:garamond;font-size:large;" placeholder="Enter your email address here" name="address" ngModel>
      <br/>
      <textarea style="width:600px;height:200px;font-family:garamond;font-size:large;"  class="form-control" placeholder="Write your message here: " name="body" ngModel></textarea>
      <br/>
    <div style="padding-left:270px;"><button type="submit" class="btn btn-primary" style="background-color:maroon;font-family:garamond;border-color:maroon;" value="submit">Send</button></div>
    
        
 </form>
</div>
