<div class="text-justify text-my-content">
  <div class="container">
    <h3>
      <b>
      myHandmadeJewelry.com
    </b>
    <hr>
  </h3>
    <p>
      I built an online shopping website for a fictional handmade jewelry store. </p>
      <p>On this site you can browse through the gallery of items, add and remove them from your cart and from your favorites list. </p>
      <p>Once you are done, you can place your order, and if you are not logged in, the site prompts you to log in. If you don't have an account you can sign up. You can also update your account info and see your order history on your profile page.</p>
      <p>Orders can be placed with cash on delivery payment or with online payment using PayPal.</p>
      <p>The site also has a page that only the owner/employee of the store can see, and that page could be used for adding, deleting or updating items, or for order processing.</p>     
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tAOA2wf53vE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
  </div>
  
  <div class="container">
    <h3>
      <br>
      <b>
      Lorem Ipsum Therapy
    </b>
    <hr>
  </h3>
    <p>
      This is a personal blog website for a professional psychotherapist (fictional) called Lorem Ipsum. </p>
      <p>
        The blog posts appear on the blog page, you can navigate between blog pages using the 'Previous page' and 'Next page' buttons, and when you click on a title it takes you to the full blog post. Below the article there is a Comment section, where you can see comments from other visitors, and an 'Add comment' form where you can also comment (anonymously or not). If you tick the 'Remember me' checkbox, your name will automatically be filled when you visit the site again.
      </p>
      <p>
        On the blog page you can also search for blog posts by keyword (I built this functionality using <a href="https://www.elastic.co/">Elasticsearch</a>).
      </p>
      <p>
        Apart from the blog, the website has a homepage, an 'About' section and a contact page with a map pointing to the therapist's office.
      </p>
    <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_YTdnCO9s44" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>
</div>

  <div class="container">
    <h3>
      <br>
      <b>
      Venus Hair Salon
    </b>
    <hr>
  </h3>
    <p>
      I also built a website for a fictional hair salon called Venus. It has a homepage, pages with slideshows presenting the team, a gallery of hairstyles done and reviews from past clients.
    </p>
    <p>
      In the footer of the page I put a map in order for clients to find the salon more easily.
    </p>
    <p>
      The site also has a contact page with an e-mail form, and an appointment page where a visitor can make an appointment with the stylist of their choice. Appointments can only be made within available hours (Monday to Friday, 9 to 6, and only if it doesn't overlap with another appointment that the stylist has).
    </p>
    <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/4mn90v5PxSo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>
</div>
</div>
<p class="text-my-content"><a href="portfolio">Go to top</a></p>