/* You can add global styles to this file, and also import other style files */
p.text-my-content {
    font-family:garamond !important;
    color:dimgray !important;
    font-size:x-large;
    padding-left:25%;
    padding-right:25%;
    word-wrap: break-word;
}

ul.text-my-content {
    font-family:garamond !important;
    color:dimgray !important;
    font-size:x-large;
    padding-left:25%;
    padding-right:25%;
    word-wrap: break-word;
    text-indent: 1%;
}

div.div-my-image {
    background-color: lightgoldenrodyellow;
    padding-left:20%;
    padding-right:20%;
    align-content: center;
}

label.text-my-default {
    font-family:garamond !important;
    color:dimgray !important;
    font-size:medium;
}

h4.text-my-default {
    font-family:garamond !important;
    color:gray !important;
}

p.copyright {
    font-family:garamond;
    color:lightslategray;
}

div.div-my-default {
    background-color: lightgoldenrodyellow;
}

div.div-my-footer {
    background-color: lightgoldenrodyellow;
    padding-top:20%;
    padding-bottom: 8%;
}

div.div-my-header {
    background-color: lightgoldenrodyellow;
    padding-top:3%;
    padding-bottom: 2%;
}

div.div-background {
    background-color: lightgoldenrodyellow;
}