/* You can add global styles to this file, and also import other style files */
p.text-my-content {
    font-family:garamond !important;
    color:dimgray !important;
    font-size:x-large;
    padding-left:300px;
    padding-right:300px;
    word-wrap: break-word;
}

ul.text-my-content {
    font-family:garamond !important;
    color:dimgray !important;
    font-size:x-large;
    padding-left:300px;
    padding-right:300px;
    word-wrap: break-word;
    text-indent: 10px;
}

div.div-my-image {
    background-color: lightgoldenrodyellow;
    padding-left:200px;
    padding-right:200px;
    align-content: center;
}

label.text-my-default {
    font-family:garamond !important;
    color:dimgray !important;
    font-size:medium;
}

h4.text-my-default {
    font-family:garamond !important;
    color:gray !important;
}

p.copyright {
    font-family:garamond;
    color:lightslategray;
}

div.div-my-default {
    background-color: lightgoldenrodyellow;
}

div.div-my-footer {
    background-color: lightgoldenrodyellow;
    padding-top:200px;
    padding-bottom: 80px;
}

div.div-my-header {
    background-color: lightgoldenrodyellow;
    padding-top:30px;
    padding-bottom: 20px;
}

div.div-background {
    background-color: lightgoldenrodyellow;
}