<div class="div-my-default">
<p class="text-justify text-my-content">
  Hi! I'm Maria, and I'm passionate about web development. I like learning new things and building websites
  for people. I currently live in Cluj-Napoca, Romania, and in my free time I like to read personal development 
  books, listen to podcasts, and write and play music for my YouTube channel.  
</p>
<div class="div-my-image">
 <p class="text-center">
  <img src="/assets/images/me1.jpg" style="width:179px;height:288px;" align="center">
  <img src="/assets/images/thisisme.png" style="width:150px;height:150px;" align="center">
 </p> 
</div>
<p class="text-justify text-my-content">
  I am currently working a 9 to 5 job as a web java developer in a big corporation, and the idea of becoming a
  freelancer has been growing in my mind for some time. I realized that starting my own brand and being involved in 
  every aspect of the application development process sound like the absolute right things for me, so I decided 
  to start this challenging journey.
</p>
<p class="text-justify text-my-content">
  During school, I picked up some technologies used in web development, such as Java & Spring Framework, Python
  & Django Framework, PHP & Laravel Framework for back-end development, React and Angular for the front-end, 
  and technologies related to data persistence, such as MySql, Hibernate and JPA. From these, I realized that I 
  love working with Spring, Java and Angular most.
</p>
<p class="text-justify text-my-content">
  Right now I would like to specialize in developing websites for small businesses or independent professionals (
  like artists, private tutors, therapists or any other kind). The reasons for this are that I can relate to this kind of clients more easily (as I myself am in the process
  of creating a brand), and that everything is new and straightforward. Making big decisions, trying new and 
  interesting things on a smaller project and building great things from scratch are what I would like to do. 
</p>
<p class="text-justify text-my-content">
  This being said, please check out my work in the portfolio section, and contact me if you think I could help
  find a solution for your brand.
</p>
<p class="text-justify text-my-content">
  I can't wait to start working with you! :)
</p>
</div>
